<div class="card">
    <div class="profile-infos">
        <img src="../../../assets/img/profile.jpg" class="profile-img" alt="Foto de perfil">
        <span>Rodrigo Lima</span>
    </div>

    <div class="content">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
</div>