<section class="profile-container">
    <div class="profile-header-container">
        <div id="img-cover"></div>
        <img src="../../../assets/img/profile.jpg" id="profile-img" alt="Foto de perfil">

        <div class="user-name-content">
            <span>Rodrigo Lima</span>
            <button class="btn add-btn">Adicionar</button>
            <!-- <button class="btn remove-btn">Desfazer amizade</button>
            <button class="btn cancel-btn">Cancelar solicitação</button> -->
        </div>

        <div class="user-info-content">
            <span>22 anos</span>
            <span>São Paulo</span>
            <span>437 amigos</span>
        </div>
    </div>

    <div class="profile-body-container">
        <hr>

        <div class="post-container">
            <app-post></app-post>
            <app-post></app-post>
        </div>
    </div>
</section>
