<section id="login">
    <div id="login-container" class="container">
        <div class="slogan">
            <div class="container-ilustration">
                <img src="../../assets/img/login-ilustration-01.png" alt="Desenho, grupo de amigos" class="ilustration-img">
            </div>

            <span class="text-slogan">Estabelecendo laços <br> de amor e amizade</span>
        </div>

        <div class="form-content">
            <h1>Friend Ties</h1>

            <div class="form">
                <form>
                    <input type="email" name="email" id="email" placeholder="Email">
                    <input type="password" name="password" id="password" placeholder="Senha"> <br>
                    <button type="submit">Entrar</button>
                </form>
            </div>

            <span>
                <a>Registrar-se</a>
                <span class="separete">|</span> 
                <a>Esqueceu a senha?</a>
            </span>
        </div>
    </div>
</section>
