<section id="register">
    <div id="register-container">
        <app-slogan-main></app-slogan-main>

        <div class="form-content">
            <h1>Cadastro</h1>

            <div class="form">
                <form>
                    <input type="email" name="email" id="email" placeholder="Email">
                    <input type="password" name="password" id="password" placeholder="Senha">
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirme a senha"> <br>
                    <button type="submit">Criar conta</button>
                </form>
            </div>

            <span>Voltar para o login</span>
        </div>
    </div>
</section>
