.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    width: 50vw;
    height: 100vh;
}

.slogan .container-ilustration {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan .container-ilustration .ilustration-img {
    width: 80%;
    height: auto;
}

.slogan .text-slogan {
    font-family: var(--title-primary-font);
    font-size: 4rem;
    text-align: center; 
    color: var(--secundary-color);
}

@media (max-width: 700px) {
    .slogan {
        display: none;
    }
}