.card {
    width: 100%;
    padding: 3.5rem;
    border-radius: 20px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card:first-child {
    margin-top: 3rem !important;
}

.card textarea {
    width: 100%;
    height: 6rem;
    resize: vertical;
}

.card textarea::-webkit-input-placeholder {
    padding-top: 1rem;
}

.card hr {
    margin-top: 1rem;
}

.card .send-post-attachment {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0 1rem;
    font-family: var(--featured-text-font);
}

.card .send-post-attachment .btn-media span:first-child {
    color: var(--green-dark-color);
}

.card .send-post-attachment .btn-media span:first-child:hover {
    color: var(--green-color);
}

.card .send-post-attachment .btn-send span:first-child {
    color: var(--primary-color);
}

.card .send-post-attachment .btn-send span:first-child:hover {
    color: var(--primary-color-light);
}


.card .send-post-attachment .btn-media span + span,
.card .send-post-attachment .btn-send span + span {
    position: relative;
    bottom: 0.5rem;
    padding-left: .5rem;
}



@media (max-width: 600px) {
    .card {
        width: 95vw;
    }
}